@model Seagulls.BowlingScoreCard

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.MatchId)
    <div class="form-horizontal">
        <h4>BowlingScoreCard</h4>
        <hr />
        @Html.ValidationSummary(true)

       

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerId, "PlayerId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PlayerId", String.Empty)
                @Html.ValidationMessageFor(model => model.PlayerId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Overs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Overs)
                @Html.ValidationMessageFor(model => model.Overs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Runs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Runs)
                @Html.ValidationMessageFor(model => model.Runs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wickets, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wickets)
                @Html.ValidationMessageFor(model => model.Wickets)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Maidens, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Maidens)
                @Html.ValidationMessageFor(model => model.Maidens)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wides, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wides)
                @Html.ValidationMessageFor(model => model.Wides)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoBalls, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoBalls)
                @Html.ValidationMessageFor(model => model.NoBalls)
            </div>
        </div>

    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
