@model Seagulls.BattingScoreCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BattingScoreCard</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RunsScored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunsScored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BallsFaced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BallsFaced)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HowOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfFours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfFours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoOfSix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoOfSix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StrikeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StrikeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastupdatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastupdatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastupdatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastupdatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match.Opponent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.Opponent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
