@model Seagulls.BattingScoreCard

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BattingScoreCard</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MatchId)

        @Html.HiddenFor(model => model.PlayerId)

        <div class="form-group">
            @Html.LabelFor(model => model.RunsScored, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RunsScored)
                @Html.ValidationMessageFor(model => model.RunsScored)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BallsFaced, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BallsFaced)
                @Html.ValidationMessageFor(model => model.BallsFaced)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HowOut, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HowOut)
                @Html.ValidationMessageFor(model => model.HowOut)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOfFours, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfFours)
                @Html.ValidationMessageFor(model => model.NoOfFours)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoOfSix, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoOfSix)
                @Html.ValidationMessageFor(model => model.NoOfSix)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
